@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        overflow: hidden;
    }

    .botones {
        display: none;
    }

    table {
        margin: 0;
        width: auto;
        height: auto;
    }
}